[user]
  email = terakoshi.akihiro@adways.net
  name = terakoshi.akihiro
[push]
  default = current
[alias]
  st = status
  sh = show
  ad = add
  ca = commit --amend
  cm = commit
  rb = rebase
  rbm = rebase master
  rbi = rebase -i master
  rbc = rebase --continue
  br = branch
  bra = branch -a
  co = checkout
  lg = log --graph --date=short --stat --decorate=full --pretty=format:'%x09%C(yellow)%h %C(green)%cd %C(cyan)%cn %Creset%s'
  ll = log --graph --date=short --color --pretty=format:'%x09%C(yellow)%h %C(green)%cd %C(cyan bold)%cn %Creset %x09%C(white dim)%s'
  log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
[color]
  ui = true
[core]
  editor = vim -c \"set fenc=utf-8\"
